# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Virtual Environments
venv/
env/

# Node
node_modules/
npm-debug.log

# Build
build/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env